body{
    background-color: lightgray;
    color: white;
}

.login-page{
    background-color: lightgray;
}

.card{
    margin: auto;
    width: 95%;
}

#log{
    margin: auto;
    width: 400px;
    text-align: center;
}

nav .material-icons{
    color: white;
}

.bg-monVert {
    background-color: #14814b;
    color: #fff !important;
}

.bg-blue-grey {
    background-color: #607d8b !important;
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
}

.form-group{
    text-align: left;
}

.grey{
    color: #aaa;
}